a {color:#0000ff; text-decoration:none;}
a.link {color:#0000ff; text-decoration:none;}
a.visited {color:#000000; text-decoration:none;}
a.hover {color:#ffc600; text-decoration:none;}
a.rollover img {border-width:0px; display:block;} 
a.rollover img.rollover {display:none;} 
a.rollover:hover {position:relative;} 
a.rollover:hover img {display:none;} 
a.rollover:hover img.rollover { display:block;}
a.L-list:link {color: 3D3D3D; text-decoration: none;}
a.L-list:visited {color: 3D3D3D; text-decoration: none;}
a.L-list:hover {color: #F07E00;	text-decoration: underline;}

td {font-family:±¼¸², µ¸¿ò; font-size:12px; text-decoration:none;}
th {font-family:±¼¸², µ¸¿ò; font-size:12px; text-decoration:none;}

body,
* { 
	margin: 0;
	padding: 0;
	font-size: 12px;	
	line-height: 1.5em;
	font-family: Dotum, "µ¸¿ò", sans-serif;
	scrollbar-face-color: #ffffff; 
	scrollbar-shadow-color: #bec2c3; 
	scrollbar-highlight-color: #bec2c3; 
	scrollbar-3dlight-color: #e7e9eb; 
	scrollbar-darkshadow-color: #e7e9eb; 
	scrollbar-track-color: #e8eaeb; 
	scrollbar-arrow-color: #909397;
}

#top_wrap
{
	width:1002px; 
	margin: 0 auto;
	height:145px; 
	position: relative;
	background: url('../img/top_bg.jpg') repeat-x;
}

.title1_icon
{
	width:25px;
	height:40px;
}

.title2_icon
{
	padding-left:10px;
	width:18px;
	height:30px;
}

.title3_icon
{
	padding-left:12px;
	width:13px;
	height:30px;
}

.title1
{
	font-size:18px;
	font-weight:bold;
}

.title2
{
	font-size:14px;
	font-weight:bold;
}

.title3
{
	font-size:12px;
	font-weight:bold;
}

.site2_icon
{
	padding-left:10px;
	width:18px;
	height:20px;
}

.site3_icon
{
	padding-left:12px;
	width:13px;
	height:20px;
}

.site2
{
	font-size:13px;
	font-weight:bold;
}

.site3
{
	font-size:12px;
	font-weight:bold;
}

.navi { font-size:12px; padding-right:5px}

table.frame_small
{
	background: url('../img/frame_small.gif') no-repeat;
	width:630px;
	height:57px;  
	padding-left:8px;
	font-size:11px;
	color:596068;
	font-weight:bold;
	letter-spacing:-0.1em;
	vertical-align:middle;
}

table.frame_large
{
	background: url('../img/frame_large.gif') no-repeat;
	width:830px;
	height:57px;
	padding-left:8px;
	font-size:11px;
	color:596068;
	font-weight:bold;
	letter-spacing:-0.1em;
	vertical-align:middle;
}

.txt1
{
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}

.txt2
{
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}

.txt3
{
	padding-top:5px;
	padding-bottom:5px;
}

.txt4
{
	padding-left:120px;
	padding-right:10px;
}

.txt5
{
	padding-left:10px;
	padding-right:10px;
}

.txt6
{
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
}

.box1 {border:#000000 1px solid; background:#f6f6f6; font-size:12px}
.box2 {border:#000000 1px solid; text-align:right; background:#f6f6f6; font-size:12px; color:#0000ff}
.box3 {font-size:13px; color:#b7b7b7}
.box5
{
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.box01 {border: 1px solid #f5be4a; font-size: 9pt;}
.box02 {font-size: 9pt;	border: 1px solid #e0e0e0;}
.box03 {border: 1px solid #bb9cda;}
.box04
{
	font-size: 9pt;
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 0px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
}

.data1 {padding-left:10px}
.data2 {padding-right:3px}
.data3 {padding-left:15px}
.data4 {padding-right:15px}
.data5 {padding-right:20px}
.data6 {padding-right:30px}
.data7 {padding-right:40px}
.data8 {padding-right:5px}
.data9 {padding-right:45px}
.data10 {padding-right:50px}
.data11 {padding-right:17px}
.data12 {padding-right:10px}
.data13 {padding-right:25px}

.button1
{
	width:160px;
	height:30px
}

.button2
{
	width:100px;
	height:30px
}

.text9 {font-family:µ¸¿ò; font-size:9pt; color:#ffffff; text-decoration:none;}
.text-box {font-size: 9pt; color: 3d3d3d;}
.txt-data {color: #8040B9;}
.txt-data01 {color: #FB8A00;}
.txt-red {color: #CC3366;}
.txt-b {font-weight: bold; color: #000000;}
.txt-bb {font-size: 10pt; font-weight: bold;}

.sp-body-bottom {padding-bottom: 40px;}
.sp-intro-t-b {padding-top: 10px; padding-bottom: 7px;}
.txt-inro-bold {font-weight: bold; color: #6666CC;}
.sp-left-right {padding-right: 20px; padding-left: 20px;}
.sp-all
{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.sp-top {padding-top: 4px;}
.sp-bottom {padding-bottom: 5px;}
.sp-line {line-height: 14px;}
.sp-01 {padding-top: 5px; padding-right: 3px;}
.sp-3 {padding-left: 3px; padding-right: 3px;}
.sp-right {padding-right: 10px;}
.sp-right3 {padding-right: 3px;}
.sp-right20 {padding-right: 20px;}
.sp-rite-b {padding-right: 35px;}
.sp-top-bottom-left
{
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

.sp-right-pop {padding-right: 5px;}
.sp-right-pop1 {padding-right: 2px;}

.box_title_01
{
	font-size: 9pt;
	color: 3D3D3D;
	background-color: #FEFFDE;
	text-align: center;
}

.box_title_02
{
	font-size: 9pt;
	color: 3D3D3D;
	background-color: #D8EDBF;
	text-align: center;
}

.box_input_01
{
	color: 3D3D3D;
	background-color: #EBEBEB;
	text-align: right;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
}

.box_input_bg_01
{
    font-size: 9pt;
	color: 3D3D3D;
	background-color: #EBEBEB;
	text-align: left;	
}

.box_input_02
{
	color: 3D3D3D;
	background-color: #FFFFFF;
	text-align: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
}

.box_input_bg_02
{
	font-size: 9pt;
	color: 3D3D3D;
	background-color: #FFFFFF;
	text-align: left;
}

.inputbox
{
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #666666 1px solid;
	COLOR: #353535;
	LINE-HEIGHT: 12pt;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-FAMILY: µ¸¿ò,hangang,Seoul,arial,helvetica;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none
}

.input
{
	FONT-SIZE: 9pt;
	FONT-FAMILY: µ¸¿ò,arial;
	BACKGROUND-COLOR: #ffffff
}

.line
{
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #A5BED8;
	border-right-color: #A5BED8;
	border-bottom-color: #A5BED8;
	border-left-color: #A5BED8;
}

.line-1
{
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #79CEF7;
	border-right-color: #79CEF7;
	border-bottom-color: #79CEF7;
	border-left-color: #79CEF7;
}

.sp-left-top {padding-top: 8px; padding-left: 5px;}
.sp-left {padding-left: 5px;}
.sp-left-top-bottom
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.road-body-sp {padding-top: 15px; padding-bottom: 15px;}
.road-sp-top-left{padding-top: 4px;	padding-left: 5px;}
.road-txt {font-size: 10pt;}
.road-stxt {font-size: 8pt; color: #cc9999;}

.line_top {padding-top:5px;}
.subline
{
	width:150px;
	height:26px;
	border-bottom:1px solid #1b346a;
}

.line_btm {padding-bottom:5px;}